@font-face {
	font-family: "sweetHipster";
	src: url("../fonts/sweetHipster.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "timeburner";
	src: url("../fonts/timeburner.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Gogoia";
	src: url("../fonts/GOGOIA.ttf");
	font-weight: normal;
}

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-style: inherit;
	font-size: 0;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	text-align: center;
	z-index: 1;
	font-family: Gogoia, sans-serif;
}

.background{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-image: url("../img/background.png");
	background-color: #000000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	z-index: -1;
}

header {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

main{
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
}

h1{
	margin-top: 25vh;
	font-size: 150px;
	color: #ffffff;
	font-family: sweetHipster, sans-serif;
}

h1 span{
	font-size: 150px;
	color: #ffffff;
	font-family: sweetHipster, sans-serif;
}

h2{
	width: 500px;
	margin: 50px auto;
	font-size: 64px;
	color: #ffffff;
	letter-spacing: 1px;
	padding: 10px 30px 0;
	border: 1px solid #ffffff;
	background-color: rgba(255,255,255,0.15);
}

h3{
	display: inline-block;
	padding: 20px 100px 0;
	font-size: 42px;
	letter-spacing: 1px;
	color: #ffffff;
	margin: auto;
}

h4{
	font-size: 26px;
	line-height: 24px;
	color: #ffffff;
	margin: 10px auto 0;
}

p{
	margin: 0 auto 10px;
	font-size: 18px;
	letter-spacing: 1px;
	color: #ffffff;
}

nav{
	margin-top: 10px;
	width: 100vw;
}

section{
	padding: 50px 0 0;
}

.container{
	max-width: 1200px;
	margin: auto;
}

.container:last-child{
	padding-bottom: 50px;
}

a{
	font-size: 28px;
	color: #ffffff;
	letter-spacing: 1px;
}

nav a{
	display: inline-block;
	padding: 20px 60px;
	margin: 0 5px;
	vertical-align: middle;
	border: 1px solid transparent;
	transition: 300ms;
	cursor: pointer;
}

nav a:hover{
	background-color: rgba(0,0,0,0.2);
	border: 1px solid #ffffff;
	transition: 300ms;
}

table{
	margin: 0 auto 30px;
}

th{
	font-size: 30px;
	letter-spacing: 1px;
	color: #ffffff;
	padding: 30px 20px 0;
	border-bottom: 1px solid #ffffff;
	text-align: center;
}

td{
	font-size: 26px;
	letter-spacing: 1px;
	color: #ffffff;
	padding: 20px 20px 0;
	text-align: left;
}

td a:hover{
	color: #ffd52d;
	transition: 300ms;
}

ul{
	text-align: center;
	list-style-type: none;
}

li{
	font-size: 30px;
	letter-spacing: 1px;
	color: #ffffff;
	padding: 0 20px 20px;
	text-align: center;
}

li::before,
li::after{
	position: relative;

	content: "( ";
	font-family: sweetHipster;
	font-size: 50px;
}

li::after{
	content: " )";
}

figure{
	display: inline-block;
	width: 18%;
	margin: 10px 1% 0;
	vertical-align: top;
	transition: 300ms;
}

figure:hover{
	border-radius: 2px;
	transform: scale(1.1);
	transition: 300ms;
}

figure img{
	width: 150px;
	height: 150px;
	border: 3px solid #ffd52d;
	border-radius: 50%;
	margin: 15px 0 0;
}

figcaption{
	margin: 15px auto;
}

.city{
	border-bottom: 1px solid #ffffff;
	max-width: 80%;
	padding-bottom: 5px;
}

.info{
	display: inline-block;
	width: 50%;
}

.info span{
	font-size: 18px;
	color: rgba(255, 213, 45, 0.8);
}

iframe{
	display: block;
	width: 500px;
	height: 400px;
	margin: 30px auto;
}

footer img{
	width: 200px;
	margin: 30px auto 15px;
}

.fs21{
	font-size: 21px;
}

.fs23{
	font-size: 23px;
}

@media (max-width: 768px) {
	h1{
		margin-top: 30vh;
		font-size: 22vmin;
	}

	h1 span{
		display: none;
	}

	h2{
		margin: 30px auto 0;
		font-size: 40px;
		width: 80vw;
	}


	h3{
		padding: 16px 10px 0;
		font-size: 26px;
		max-width: 80vw;
	}

	h4{
		font-size: 26px;
		color: #ffffff;
		margin: 10px auto 0;
	}

	p{
		margin: 0 auto 10px;
		font-size: 18px;
		letter-spacing: 1px;
		color: #ffffff;
	}

	nav{
		display: none;
	}

	.container{
		max-width: 95vw;
	}

	header {
		height: 100vh;
		width: 100vw;
		overflow: hidden;
	}

	main{
		overflow: hidden;
		background-color: rgba(0,0,0,0.5);
	}

	section{
		padding: 20px 0 0;
	}


	.container:last-child{
		padding-bottom: 50px;
	}

	a{
		display: inline-block;
		font-size: 30px;
		color: #ffffff;
		padding: 20px 60px;
		margin: 0 5px;
		letter-spacing: 1px;
		vertical-align: middle;
		border: 1px solid transparent;
		transition: 300ms;
		cursor: pointer;
	}

	a:hover{
		background-color: rgba(0,0,0,0.2);
		border: 1px solid #ffffff;
		transition: 300ms;
	}

	table{
		margin: 0 auto;
	}

	th{
		font-size: 24px;
		padding: 30px 0 0;
	}

	td{
		min-width: 22vw;
		font-size: 22px;
		padding: 20px 15px 0;
	}

	td a{
		padding: 0;
		font-size: 22px;
	}

	ul{
		margin: 30px auto 0;
	}

	li{
		font-size: 24px;
		line-height: 26px;
	}

	li::before{
		content: "";
	}

	li::after{
		position: relative;
		display: block;
		content: "";
		background-image: url("../img/venzel.png");
		background-size: cover;
		margin: 20px auto 0;
		width: 200px;
		height: 23px;
	}

	li:last-child{
		padding-bottom: 0;
	}

	li:last-child:after{
		padding-bottom: 0;
		display: none;
	}

	figure{
		margin-top: 30px;
		width: 48%;
	}

	figure:hover{
		transform: scale(1);
	}

	figure img{
	}

	figcaption{
		margin-bottom: 0;
	}

	.city{
	}

	.info{
		display: inline-block;
		width: 100%;
	}

	.info td{
		width: 50%;
		text-align: center;
		padding: 20px 5px 0;
	}

	iframe{
		width: 90vw;
		height: 50vh;
	}

	.fs21{
		font-size: 26px;
	}
}